@{
    ViewData["Title"] = "Home Page";
}

<div class="avionio-widget">
    <iframe id="avionio-frame" height="650px" frameborder="0" style='border:0; width: 100%; margin:0; padding:0; ' src='https://www.avionio.com/widget/en/saw/departures?style=2'></iframe>
    <div style="font-size:12px; width: 100%; text-align: center; ">
        <a style="text-decoration:none; color:#333;" href='https://www.avionio.com/en/airport/saw/departures' title='SAW Departures' target="_blank">SAW Departures</a>
        <span style="color: #FD6150;">♥</span>
        <a style="text-decoration:none; color:#333;" href="https://www.avionio.com/" target="_blank" title="Airport arrivals and departures worldwide">Avionio.com</a>
    </div>

</div>
